Repository dotStart/Overlord, changes with the labels that .github/labeler.yml gives for each.
All labels: api, agent, model

.github/labeler.yml:

api: overlord-*-api/**
agent: overlord-agent/**
model: overlord-model-*/**

Created additional variables to improve versioning.
  overlord-agent/src/main/resources/agent-version.properties
  pom.xml
Labels: agent

Added a build number to the version metadata.
  overlord-agent/src/main/resources/agent-version.properties
  pom.xml
Labels: agent

Added a full-length git hash.
  overlord-agent/src/main/resources/agent-version.properties
  pom.xml
Labels: agent

Set getRevisionOnlyOnce to speed up build number generation across the project.
  pom.xml
Labels: none

Added the CI build number to the version metadata.
  .github/workflows/junit.yml
Labels: none

Renamed the build action to be a little bit more sensible.
  .github/workflows/build.yml
Labels: none

Added a build badge.
  README.md
Labels: none

Fixed an issue which causes the standalone agent to run into a StackOverflowError.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/StandaloneAgentCommand.kt
Labels: agent

Moved the parsing logic for creating socket addresses to a dedicated file.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/RpcServerAgentCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/util/SocketAddressFunctions.kt
Labels: agent

Added support for file URIs.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/rpc/AgentServiceImpl.kt
Labels: agent

Implemented an abstraction for rpc client commands.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/AbstractRpcClientCommand.kt
Labels: agent

Implemented support for the RPC provision command.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/OverlordAgent.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/RpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/ProvisionRpcClientCommand.kt
Labels: agent

Fixed an issue which prevents compilation on the current Kotlin compiler version.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/ProvisionRpcClientCommand.kt
Labels: agent

Added a start command.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/RpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/StartRpcClientCommand.kt
Labels: agent

Added support for stopping agents via RPC.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/RpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/StartRpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/StopRpcClientCommand.kt
Labels: agent

Added some basic documentation on the RPC functionality.
  README.md
Labels: none

Integrated SonarQube links.
  README.md
Labels: none

Added a module for the server logic.
  overlord-model-server/overlord-model-server.iml
  overlord-server/pom.xml
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/OverlordServer.kt
  pom.xml
Labels: model

Corrected the module metadata.
  overlord-server/pom.xml
Labels: none

Added a couple missing copyright notices.
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/RpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/AbstractRpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/ProvisionRpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/StartRpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/command/client/StopRpcClientCommand.kt
  overlord-agent/src/main/kotlin/tv/dotstart/overlord/agent/util/SocketAddressFunctions.kt
  overlord-server/pom.xml
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/OverlordServer.kt
Labels: agent

kdoc.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/OverlordServer.kt
Labels: none

Added a dependency to xodus.
  overlord-server/pom.xml
  pom.xml
Labels: none

Configured Kotlin for use with Spring.
  overlord-server/pom.xml
  pom.xml
Labels: none

Enabled the RequiresOptIn annotation within the agent project.
  overlord-agent/pom.xml
Labels: agent

Implemented support for Xodus transactions within Spring.
  overlord-server/pom.xml
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/database/XodusTransaction.kt
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/database/XodusTransactionManager.kt
Labels: none

Integrated Xodus into the Spring context.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/configuration/XodusConfiguration.kt
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/configuration/properties/XodusConfigurationProperties.kt
Labels: none

Specified a simple server configuration entity for migration purposes as well as global configuration aspects.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/ServerConfiguration.kt
Labels: none

Created a basic startup listener for server initialization purposes.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/listener/ServerInitializationListener.kt
Labels: none

Added an artifact specification for the server implementation.
  .github/workflows/build.yml
Labels: none

Removed any explicit reference to the parent entity type as it may be inferred.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/ServerConfiguration.kt
Labels: none

Added joda en/decoding support for API payloads.
  overlord-server/pom.xml
Labels: none

Implemented a base entity for simple timestamping of updates.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/TimestampedEntity.kt
Labels: none

Created an entity for representing audit log entries.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AuditLogEntry.kt
Labels: none

Created an entity type for audited entities.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AuditedEntity.kt
Labels: none

Renamed all abstract entity types to simplify identification of their respective implementations.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AbstractAuditLogEntry.kt
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AbstractAuditedEntity.kt
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AbstractTimestampedEntity.kt
Labels: none

Added automatic population of the createdAt field.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AbstractAuditLogEntry.kt
Labels: none

Created a representation for user accounts.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/security/User.kt
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/listener/ServerInitializationListener.kt
Labels: none

Created a model for the system info endpoint.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/model/v1/SystemInfo.kt
Labels: none

Created a system info controller.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/controller/v1/SystemController.kt
Labels: none

Simplified the type parameters for audited entities.
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/audit/AbstractAuditedEntity.kt
  overlord-server/src/main/kotlin/tv/dotstart/overlord/server/entity/security/User.kt
Labels: none
